body {
  font-size: 20px;
  line-height: 30px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.m3-jumbo {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}


h2 {
  font-weight: 800;
  color: #2e2d2a;
}

h3 {
  font-weight: bold !important;
  margin-top: 1.6667em;
  margin-bottom: 1.1111em;
}

.m3-jumbo {
  margin-top: 40px;
}

p {
  color: #71706f;
}
